{% if page.toc %}
<div class="overflow-y-auto min-w-[12rem] pr-2">
  <ul class="list-none">
    {% for h1 in page.toc %}
    <li>
      <a class="no-underline text-zinc-200" href="{{ h1.permalink | safe }}">
        {{ h1.title }}
      </a>
      {% if h1.children %}
      <ul class="list-disc marker:text-white">
        {% for h2 in h1.children %}
        <li>
          <a class="no-underline text-zinc-200" href="{{ h2.permalink | safe }}">
            {{ h2.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}